[data-theme='light'] {
  --bs-body-bg:        #f8f9fa;
  --bs-body-color:     #212529;
  --sidebar-bg:        #212529;
  --sidebar-color:     #adb5bd;
  --sidebar-active:    #fff;
  --topbar-bg:         #fff;
}
